In [1]:
import pandas as pd

In [2]:
pd.Series(["UCLA", "UC Berkeley", "IU", "IUPUI", "Purdue"])

0           UCLA
1    UC Berkeley
2             IU
3          IUPUI
4         Purdue
dtype: object

In [6]:
listOfDicts = [{'State':'Indiana'},{'State':'Iowa'},{'State':'Colorado'}]

In [9]:
pd.DataFrame(ListOfDicts)

      State
0   Indiana
1      Iowa
2  Colorado

In [13]:
dictOfLists = {'State':['Indiana','Iowa','Ohio'],'BBIQ':[210,130,90],'University':['Butler','Iowa State','Ohio State']}

In [14]:
pd.DataFrame(dictOfLists)

     State  BBIQ  University
0  Indiana   210      Butler
1     Iowa   130  Iowa State
2     Ohio    90  Ohio State